+++
title = "Roadways"
linkTitle = "Roadways"
[menu.main]
weight = 20
pre = "<i class='fa-solid fa-road'></i>"
+++
<!
{{< blocks/cover title="" image_anchor="top" height="auto" color="orange" >}}
<div class="OBlogo">
	<img src="../TrafficVision_Logo_WHT_no_Sub.png" alt="Omnibond Logo" width="350">	
</div>

<div class="mx-auto">
	<p class="lead mt-5"><strong>Traffic Monitoring</strong> </p>
	{{< blocks/link-down color="info" >}}
</div>

{{< /blocks/cover >}}


{{% blocks/lead color="dark" %}}


Omnibond's TrafficVision&trade; TMC provides incident and anomaly detection combined with real-time data collection to make traffic monitoring better.

{{% /blocks/lead %}}

{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa fa-car-burst" color="dark"  title="Incident & Anomaly <br>Detection" url="" %}}

<!--
<img src="image.png" alt="image" width="300">
-->
Real-Time Anomoly and Incident detection reduces response time and in-turn reduces secondary incidents and heplping save lives. 

With a system-wide view of traffic flow and provide an understanding of slowdowns, incidents, and anomalies on the roadways.

Increase roadway safety with real-time incident and anomaly detection of: <br>
*Slowed Traffic*  <br>
*Stopped Vehicles* <br>
*Roadway Debris* <br>
*Low Visibility* <br>
*Pedestrians*  <br>
*Wrong-Way Drivers* <br>

Images of the detection are captures for visual verification.

Video clips leading up to and following the incident can be optionally created for review with a configurable retention timeframe to meet compliance requirements.

<br>

<iframe Width="340" height="200" src="https://www.youtube.com/embed/I5Ynuj0fbbA?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=I5Ynuj0fbbA" 
frameborder="0" allowfullscreen></iframe>

<!--                      Col 2-->
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-chart-line" title="Real-time Data <br> Collection" url="" %}}
<!--
<img src="image.png" alt="image" width="300">
-->

Roadway data is key to understanding the flow, potential for incidents, tollway count validation, and where to spend funding for improvements.  

The ability to 
use existing or newly added cameras from nearly any vendor to provide these capabilities can change the data frequency from annual to continuous while feeding into a system-wide view.  

Capture data elements including:<br>
*Speeds per Lane*<br>
*Speeds per Direction*<br>
*Vehicle Counts per Lane*<br>
*Vehicle Counts per Direction*<br>
*Lane Occupancy*<br>
*Lane Density*<br>
*Congestion Index*<br>
*Vehicle Trajectories in the Scene*<br>
Four levels of Classification:<br>
*Bicycle/Motorcycle*<br>
*Car/Van/Pickup*<br>
*Truck/Bus*<br>
*Tractor Trailer*<br>

<br>

<iframe Width="340" height="200" src="https://www.youtube.com/embed/tsiYWnK8DEE?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=tsiYWnK8DEE" 
frameborder="0" allowfullscreen></iframe>




<!--                     Twitter -->
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-do-not-enter" title="Wrong-way <br> Detection" url="" %}}


TrafficVision TMC can provide wrong-way detection where it matters, as vehicles enter the highway through off-ramp. 
<br><br>
Detecting wrong-ways at agencies are generally handled in a couple of ways:

The first is to monitor off-ramps for wrong-way driver data and where the detections are made engineers change designs to improve signage and other visual cues to help drivers self correct.  

The second is to use an edge processing device for TrafficVision that can be connected to digital signage and warning lights to notify the drivers of their situation.

Given a good camera view of the off-ramp, other data and incident detection can be provided for that section of the road.  

A valuable feature of TrafficVision is that any feature can be used on any camera view that will support it.

<br>

<iframe Width="340" height="200" src="https://www.youtube.com/embed/fjkgtFGH-bg?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=fjkgtFGH-bg" 
frameborder="0" allowfullscreen></iframe>

<!--
<img src="image.png" alt="image" width="300">
-->

<br>

{{% /blocks/feature %}}

{{% /blocks/section %}}

{{% blocks/lead color="primary" %}}


TrafficVision&trade;TMC capabilities

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}



<!--                      Col 1-->

{{% blocks/feature icon="fa fa-do-not-enter" title="Wrong Way" url="" %}}

<iframe Width="340" height="200" src="https://www.youtube.com/embed/gr-JAFefz6o?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=gr-JAFefz6o" 
frameborder="0" allowfullscreen></iframe>

Daytime wrong-way detection on the highway.
<br>
<br>

<!--                      Col 2-->
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-hill-rockslide" title="Debris" url="" %}}

<iframe Width="340" height="200" src="https://www.youtube.com/embed/ZbJLM7FntwA?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=ZbJLM7FntwA" 
frameborder="0" allowfullscreen></iframe>

Gravel debris in the roadway detection.

<!--                      Col 3 -->
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-person-walking" title="Pedestrian" url="" %}}

<iframe Width="340" height="200" src="https://www.youtube.com/embed/Ty_ggRhU-Hs?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=Ty_ggRhU-Hs" 
frameborder="0" allowfullscreen></iframe>

Pedestrian detection in dangerous locations.
{{% /blocks/feature %}}


<!--                      Col 1-->

{{% blocks/feature icon="fa fa-cars" title="Congestion" url="" %}}

<iframe Width="340" height="200" src="https://www.youtube.com/embed/VvNifZzzFLM?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=VvNifZzzFLM" 
frameborder="0" allowfullscreen></iframe>

Roadway congestion detection.
<br>
<br>

<!--                      Col 2-->
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-smoke" title="Low Visibility" url="" %}}

<iframe Width="340" height="200" src="https://www.youtube.com/embed/U3HuGbq3qA0?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=U3HuGbq3qA0" 
frameborder="0" allowfullscreen></iframe>

Detection of low Visibility due to fog or smoke.

<!--                      Col 3 -->
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-snowflake" title="Stopped in Snow" url="" %}}

<iframe Width="340" height="200" src="https://www.youtube.com/embed/Hi5OoiiZf-0?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=Hi5OoiiZf-0" 
frameborder="0" allowfullscreen></iframe>

Stopped vehicle in snowy weather.
{{% /blocks/feature %}}

<!--                      Col 1-->

{{% blocks/feature icon="fa fa-camera-cctv" title="Thermal" url="" %}}

<iframe Width="340" height="200" src="https://www.youtube.com/embed/BzpY2Atxi00?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=BzpY2Atxi00" 
frameborder="0" allowfullscreen></iframe>

Thermal Camera Operation.
<br>
<br>

<!--                      Col 2-->
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-road" title="10 Lanes" url="" %}}

<iframe Width="340" height="200" src="https://www.youtube.com/embed/tsiYWnK8DEE?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=tsiYWnK8DEE" 
frameborder="0" allowfullscreen></iframe>

Detection across 10 lanes.

<!--                      Col 3 -->
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-ruler-triangle" title="Auto-Recalibration" url="" %}}

<iframe Width="340" height="200" src="https://www.youtube.com/embed/Pkd8Sp62mc8?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=Pkd8Sp62mc8" 
frameborder="0" allowfullscreen></iframe>

Auto-Recalibration after PTZ movement
{{% /blocks/feature %}}

<!--                      Col 1-->

{{% blocks/feature icon="fa fa-raindrops" title="Rain" url="" %}}

<iframe Width="340" height="200" src="https://www.youtube.com/embed/pot2roWo-xI?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=pot2roWo-xI" 
frameborder="0" allowfullscreen></iframe>

Operation in the rain.
<br>
<br>

<!--                      Col 2-->
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-tire-flat" title="Tire Debris" url="" %}}

<iframe Width="340" height="200" src="https://www.youtube.com/embed/3Uy6ylHw06o?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=3Uy6ylHw06o" 
frameborder="0" allowfullscreen></iframe>

Tire tread debris detection.

<!--                      Col 3 -->
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-do-not-enter" title="Nightime Wrong-Way" url="" %}}

<iframe Width="340" height="200" src="https://www.youtube.com/embed/fjkgtFGH-bg?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&playlist=fjkgtFGH-bg" 
frameborder="0" allowfullscreen></iframe>

Wrong-way detection at night
{{% /blocks/feature %}}

{{% /blocks/section %}}


{{% blocks/lead color="gray" %}}


Expanding the forefront of AI for safety!  

{{% /blocks/lead %}}