+++
title = "HackHPC"
linkTitle = "HackHPC"

+++

{{< blocks/cover title="" image_anchor="top" height="auto" color="orange" >}}
<div class="OBlogo">
	<img src="REALHackathonLogo.png" alt="Hackathon Logo" width="300">	
</div>

<div class="mx-auto">
	<!--...
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/google/docsy-example">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
	--> 
	<p class="lead mt-1" style="color: black; font-weight: bold;">odernizing Hackathon</p>
	{{< blocks/link-down color="info" >}}
</div>

{{< /blocks/cover >}}


{{% blocks/lead color="dark" %}}

Hackathons are collaborative gatherings of people to learn and apply skills towards a particular problem in a defined amount of dedicated time. In the case of the Cloud HPC and SGCI Team Hackathons, the participants are commonly undergraduate/graduate students teamed with mentors in the academic and/or commercial field that collaboratively identify a problem/issue and then both learn and apply skills to develop products that address that problem/issue.
 


{{% /blocks/lead %}}


<!--                      ROADWAY MONITORING SECTION -->
{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa-solid fa-clipboard-question" color="dark"  title="Common Questions:" url="" %}}

<img src="Questions.png" alt="Common Questions" width="300">

<br>
<!--**MODERNIZE** <br>-->
<br>

<strong>Q: Do I need to know how to code to participate?</strong>
<br>
A: No! All projects need a variety of skills, coding is just one of the many.

<strong>Q: Do I have to stay up the entire hackathon?</strong>
<br>
A: No! You and your team decide on your goals and mini-goals. Outside of some defined checkpoints, your time is your own.

<strong>Q: Is it a contest?</strong>
<br>
A: Sometimes, but if it is we clearly define the judging criteria. We do often enjoy a little healthy competition from small tasks to the overall judging of the final product with sponsor-provided prizes.

<strong>Q: Will this interfere with me attending the conference or participating in a student program?</strong>
<br>
A: Though we cannot speak for your schedule or associate responsibilities, we do work closely with conference organizers to not conflict with other events. Commonly this is why the hackathons take place during night hours.

<strong>Q: Do you provide travel support?</strong>
<br>
A: It depends on the event. If the event does have travel support funds, it will say so within the hackathon event registration information.
<br>

<a class="btn btn-sm btn-primary mr-3 mb-4" href="{{< relref "/roadway-monitoring" >}}">
Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
</a>

<!--                      Port Monitoring Section -->
{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-list-check" title="REGISTER" url="" %}}
<img src="RegisteringImage.gif" alt="registration" width="300">

<br>
<!--**TRANSFORM**<br>-->
<br>

<strong>Are you thinking about participating</strong>
<strong>in the next Hackathon?</strong>

<strong>To stay up to date on Hackathon events:</strong>

Follow us on <a href="https://twitter.com/ccloudhack">TWITTER</a><br>
Join our <a href="https://discord.com/invite/UrXfQsqsdG">DISCORD</a><br>
Subscribe to our ALUM EMAIL and <a href="https://www.linkedin.com/groups/8859728/">LINKEDIN GROUP</a>

<br>

<a class="btn btn-sm btn-primary mr-3 mb-4" href="{{< relref "/port-monitoring" >}}">
	Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>

<!--                     Twitter -->
{{% /blocks/feature %}}


{{% blocks/feature icon="fa-brands fa-twitter" title="@HPCcloudhack" url="" %}}

<a href="https://tinyurl.com/4bcwmnj4" class="twitter-follow-button" data-show-count="false">Follow @ccloudhack</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
<!--
<img src="image.png" alt="image" width="300">
-->
<a class="twitter-timeline" data-height="840" href="https://twitter.com/ccloudhack?ref_src=twsrc%5Etfw">Tweets by HPCcloudhack&trade;</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

<br>

{{% /blocks/feature %}}

{{% /blocks/section %}}



{{< blocks/lead color="gray" >}}

<!--
<div class="col">
	<h1 id="customers" class="text-center pb-3">Collaborations</h1><br><br><br><br>
	<p class="text-center showcase">
		<a href="https://dot.ca.gov/"><img alt="CalTrans" width="250" hspace="0" vspace="0" src="customers/caltranslogo.png" /></a>
		<a href="https://www.codot.gov/"><img alt="CDOT" width="80"  hspace="20" vspace="20" src="customers/cdot.jpg" /></a>
		<a href="https://www.calgary.ca/home.html"><img alt="City of Calgary" width="140" 
			hspace="20" vspace="20"	src="customers/coc-logo.svg" /></a>
		<a href="https://www.mobilityauthority.com/"><img alt="CTRMA" width="80" hspace="40" vspace="20" src="customers/ctrma400x400.jpg" /></a>
		<a href="https://www.fdot.gov/"><img alt="FDOT" width="150" hspace="30" vspace="20" src="customers/fdot-logo-color.png" /></a>		
		<a href="http://www.360ns.net/"><img alt="360ns" width="150" hspace="30" vspace="20" src="customers/360Logo.png" /></a>
		<a href="https://www.dot.ga.gov/"><img alt="GDOT" width="160" hspace="20" vspace="30" src="customers/gdot-logo.svg" /></a>
		<a href="http://www.kcscout.com/"><img alt="KCScout" width="100" hspace="30" vspace="20" src="customers/ic_scoutapp.png" /></a>
		<a href="https://skylinenet.net/"><img alt="Skyline Technology Solutions" width="100" hspace="30" vspace="20" src="customers/Skyline-Logo.svg" /></a>
		<a href="https://kapsch.net/"><img alt="Kapsch" width="160" hspace="30" vspace="20" src="customers/Kapsch_White-Yellow_RGB.png" /></a>
		<a href="https://wsp.com/"><img alt="WSP" width="100" hspace="30" vspace="20" src="customers/WSP-Logo-transparent-white-01.png" /></a>
		<a href="https://www.ontario.ca/page/ministry-transportation"><img alt="MTO" width="180" hspace="30" vspace="20" src="customers/logo-mto.png" /></a>
		<a href="https://www.michigan.gov/mdot" ><img alt="MDOT" width="90" hspace="30" vspace="20" src="customers/mdot400x400.jpg" /></a>
		<a href="https://www.dot.state.mn.us/" ><img alt="MNDOT" width="180" hspace="30" vspace="20" src="customers/MNDOT-Logo-RGB-Reverse.png" /></a>
		<a href="https://www.modot.org/" ><img alt="MODOT" width="140" hspace="30" vspace="20" src="customers/modot-logo.svg" /></a>
		<a href="https://www.dot.nm.gov/" ><img alt="NMDOT" width="100" hspace="30" vspace="20" src="customers/nmdot.jfif" /></a>
		<a href="https://www.ntta.org/" ><img alt="NTTA" width="110" hspace="30" vspace="20" src="customers/ntta-logo.svg" /></a>
		<a href="https://www.paturnpike.com/" ><img alt="PA Turnpike" width="100" hspace="30" vspace="20" src="customers/pa-turnpike-logo.svg" /></a>
		<a href="https://www.peraton.com/" ><img alt="Peraton" width="100" hspace="30" vspace="20" src="customers/peraton-logo.svg" /></a>
		<a href="https://polb.com/" ><img alt="POLB" width="160" hspace="30" vspace="20" src="customers/polb.png" /></a>				
		<a href="https://www.rctc.org/" ><img alt="RCTC" width="100" hspace="30" vspace="20" src="customers/RCTC_hor_680px.webp" /></a>
		<a href="https://www.scdot.org/" ><img alt="SCDOT" width="100" hspace="30" vspace="20" src="customers/SCDOT-WHT.svg" /></a>
		<a href="https://trimarc.org/" ><img alt="TRIMARC" width="140" hspace="30" vspace="20" src="customers/TRIMARC.png" /></a>	
		
	</p>
</div>
-->

<div class="col">
<h2 id="customers" class="text-center pb-3">Collaborations</h2>
	<h4>
	-
	360ns - 
	CalTrans - 
	City of Calgary - 
	CODOT - 
	CTRMA - 
	Curiosity Lab at Peachtree Corners - 
	FDOT - 
	GDOT - 
	KCScout - 
	Skyline - 
	Kapsch - 
	MTO - 
	MDOT - 
	MNDOT - 
	MODOT
	NMDOT - 
	NTTA - 
	PA Turnpike - 
	PennDOT - 
	Peraton - 
	POLB - 
	QAS - 
	RCTC - 
	SCDOT - 
	Tetra Tech - 
	TRIMARC - 
	WSP - 
	</h4>
</div>
{{< /blocks/lead >}}

<!--
{{< blocks/section color="primary" >}}
<div class="col">
<h4 class="text-center">This is the second Section</h4>
</div>


{{< /blocks/section >}}


{{< blocks/section color="dark" >}}


{{% blocks/feature icon="fab fa-twitter" title="Follow Omnibond" url="https://twitter.com/omnibond" %}}
{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow TrafficVision" url="https://twitter.com/trafficvision" %}}

{{% /blocks/feature %}}

{{% blocks/feature icon="fab fa-twitter" title="Follow CloudyCluster" url="https://twitter.com/omnibond" %}}

{{% /blocks/feature %}}

{{< /blocks/section >}}

{{< blocks/section color="primary">}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
-->