+++
title = "Retail"
linkTitle = "Retail"
# [menu.main]
# weight = 40
# pre = "<i class='fa-solid fa-store'></i>"
draft=true
+++

{{< blocks/cover title="" image_anchor="top" height="auto" color="orange" >}}
<div class="OBlogo">
	<img src="../TrafficVision_Logo_WHT_no_Sub.png" alt="TrafficVision Logo" width="500">	
</div>

<div class="mx-auto">
	<p class="lead mt-5"><strong>Retail Traffic Monitoring</strong> </p>
	{{< blocks/link-down color="info" >}}
</div>

{{< /blocks/cover >}}


{{% blocks/lead color="dark" %}}

Add the capablities of vehicle queue monitoring and timing you can provide real-time feedback to your customers so they can optimize their time within their busy schedules.

Taking our experience from the highways, brides, tollways, and ports we have developed BayTracker which is targeted at quickserv drivethroughs and quick vehicle service locations to provide wait-time and service-time tracking across multiple areas including service bays and drive-thru paths.

All provided by software that uses off-the-shelf cameras to aggregate and moniter in store video. The in-store data can be merged with other store data and provide cross-store data in the BayTracker Cloud. This aggregate data can be used to provide store comparisons on throughput, utilizations, and other helpful metrics.

With the addition of cameras positioned high enough to get a view of the street from the locations property, vehicle traffic count data can be collected to provide roadway data that can be correlated with in-store traffic to determine correlations to provide for future scheduling and also leading indicators for abnormal daily operation.


{{% /blocks/lead %}}




<!--                      COLUMN 1 -->

{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa-light fa-car-burst" color="dark"  title="Incident & Anomaly <br>Detection" url="" %}}
section
<br>
Col 1

{{% /blocks/feature %}}

<!--                      Col 2-->

{{% blocks/feature icon="fa-light fa-chart-line" title="Real-time Data <br> Collection" url="" %}}

<!--{{< youtube id="rhr49lC41xw" autoplay="true" title="Stopped Vehicle Detection" >}}
-->

Col 2

{{% /blocks/feature %}}

<!--                      Col 3-->

{{% blocks/feature icon="fa-light fa-car-burst" color="dark"  title="Incident & Anomaly <br>Detection" url="" %}}

Col 3
<br>


{{% /blocks/feature %}}


{{< /blocks/section >}}

<!--
{{< blocks/section color="primary" >}}
<div class="col">
<h4 class="text-center">This is the second Section</h4>
</div>


{{< /blocks/section >}}
-->


<!--
{{< blocks/section color="primary">}}

<div class="col-12">
<h1 class="text-center">This is another Section</h1>
</div>

{{< /blocks/section >}}
-->