+++
title = "Events"
linkTitle = "Events"
[menu.main]
weight = 30
pre = "<i class='fa-solid fa-truck'></i>"
+++

{{< blocks/cover title="" image_anchor="top" height="auto" color="orange" >}}
<div class="OBlogo">
	<img src="../TrafficVision_Logo_WHT_no_Sub.png" alt="TrafficVision Logo" width="400">		
</div>

<div class="mx-auto">
	<p class="lead mt-5"><strong>Port Traffic Solutions</strong> </p>
	{{< blocks/link-down color="info" >}}
</div>

{{< /blocks/cover >}}

{{% blocks/lead color="dark" %}}

These are the Events!
{{% /blocks/lead %}}


<!--                      COLUMN 1 -->

{{< blocks/section color="white" >}}

{{% blocks/feature icon="fa fa-truck" color="dark"  title="Truck Queuing" url="" %}}
Observer provides a map over the covered area and provides queuing status along the desired path. 

<img src="hpcinthecitydallas.png" alt=" HPC in the City: Dallas" width="300">
<br>
<br>
Any segment can be selected to provide a real time view of the current queuing.
<br>
<br>
<img src="sgci_hack_logo_22.png" alt="queuing map view" width="300">
<br><br>
Providing realtime visual verification of landside queuing.

{{% /blocks/feature %}}

<!--                      Col 2-->

{{% blocks/feature icon="fa fa-car-burst" title="Port Traffic & Incidents" url="" %}}

<!--{{< youtube id="rhr49lC41xw" autoplay="true" title="Stopped Vehicle Detection" >}}
-->

Observer can provide real-time traffic alerts on the map view for all of the alerts provided by TrafficVision&trade; TMC.  
<br>
<img src="Observer-alert-1.png" alt="queuing map view" width="300">

Providing realtime visual verification of anomalies and alerts providng so decisions can be made with all the information at hand including incident images and clips.
<br><br>
<img src="Observer-alert-2.png" alt="queuing map view" width="300">


With TrafficVision&trade; is at the heart, all the historical data is also captured for future study and reference of alerts, queuing, and traffic data.

{{% /blocks/feature %}}

<!--                      Col 3-->

{{% blocks/feature icon="fa fa-ship" color="dark"  title="AIS and Other Data" url="" %}}

The map view also has the capability to show AIS vessel data for the covered area for ports.  Daily weather information is also available.  

<img src="Observer-ais-1.png" alt="queuing map view" width="300">
<br><br>
Observer provides a situational view of both landside and waterside traffic.  
<br><br>
<img src="Observer-ais-2.png" alt="queuing map view" width="300">
<br><br>
Easily accessible through an easy-to-use interface. 



{{% /blocks/feature %}}





{{< /blocks/section >}}

{{% blocks/lead color="gray" %}}


Expanding the forefront of AI for safety!

{{% /blocks/lead %}}