+++
title = "Events"
linkTitle = "Events"
[menu.main]
weight = 30
pre = "<i class='fa-solid fa-truck'></i>"
+++

{{< blocks/cover title="" image_anchor="top" height="auto" color="orange" >}}
<div class="OBlogo">
	<img src="../TrafficVision_Logo_WHT_no_Sub.png" alt="TrafficVision Logo" width="400">		
</div>

<div class="mx-auto">
	<p class="lead mt-5"><strong>Port Traffic Solutions</strong> </p>
	{{< blocks/link-down color="info" >}}
</div>

{{< /blocks/cover >}}

{{% blocks/lead color="dark" %}}

See the excitement and innovation of past Hackathons!
{{% /blocks/lead %}}


<!--                      COLUMN 1 -->

{{< blocks/section color="white" >}}

<a href="https://hackhpc.github.io/HPCintheCity22/" target="_blank" rel="noopener noreferrer">
{{% blocks/feature icon="fa fa-truck" color="dark"  title="HPC in the City: Dallas" %}}</a>
<img src="hpcinthecitydallas.png" alt="HPC in the City: Dallas" width="300">
<br>
<br>
<a href="https://www.youtube.com/watch?v=lFZeEgw7JAg" target="_blank" rel="noopener noreferrer"><h4>Hack@ADMI 2022</h4></a>
<br>
<br>
<img src="2022_ADMI_LOGO.png" alt="2022_ADMI_LOGO" width="300">
<br><br>
{{% /blocks/feature %}}

<!--                      Col 2-->

<a href="https://hackhpc.github.io/FacultyHack-Gateways22/" target="_blank" rel="noopener noreferrer">
	{{% blocks/feature icon="fa fa-car-burst" title="Faculty Hackathon at Gateways22" %}}</a>
	<br>
	<img src="sgci_hack_logo_22.png" alt="sgci2022" width="300">	
	<br>
	<a href="https://sc21.supercomputing.org/" target="_blank" rel="noopener noreferrer"><h4>HPC in the City Hackathon 2021</h4></a>
	<img src="hpccity.png" alt="hpccity" width="300">
	{{% /blocks/feature %}}	

<!--                      Col 3-->

{{% blocks/feature icon="fa fa-ship" color="dark"  title="AIS and Other Data" url="" %}}

The map view also has the capability to show AIS vessel data for the covered area for ports.  Daily weather information is also available.  

<img src="hack@tacc2022.png" alt="tacc2022" width="300">
<br><br>
Observer provides a situational view of both landside and waterside traffic.  
<br><br>
<img src="pearc21.png" alt="pearc21" width="300">
<br><br>
Easily accessible through an easy-to-use interface. 



{{% /blocks/feature %}}





{{< /blocks/section >}}

{{% blocks/lead color="gray" %}}


Expanding the forefront of AI for safety!

{{% /blocks/lead %}}